@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

@font-face {
  font-family: 'outrun';
  src: url('/outrun_future-webfont.woff2') format('woff2'),
       url('/outrun_future-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

* {
  box-sizing: border-box;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Inter,ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  text-shadow: rgba(0,0,0,.01) 0 0 1px;
  padding-top: 60px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 60px);
}

.big-titles {
  background-color: black;
  color: white;
  display: inline-block;
  font-size: 38px;
  padding: 3px 8px;
  text-transform: uppercase;
}

.strong-titles {
  background-color: black;
  color: white;
  display: inline-block;
  font-size: 28px;
  padding: 2px 6px;
  text-transform: uppercase;
}

.titles {
  color: #333333;
  font-size: 28px;
  font-weight: 600;
}

.btn {
  border: 2px solid black;
  text-decoration: none;
  color: black;
  padding: 10px 30px;
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  background-color: white;;
}

.btn:hover {
  background-color: black;
  color: white;
}

/**
 * MENU
 */
.burger {
  position: fixed;
  top: 19px;
  right: 20px;
  opacity: 0;
  pointer-events: 0;
}

.burger .line1,
.burger .line2,
.burger .line3 {
  height: 3px;
  background-color: black;
  width: 30px;
  display: block;
  border-radius: 1px;
  transition: all 200ms ease-in-out;
}

.burger .line2 {
  margin-top: 7px;
}

.burger .line3 {
  margin-top: 7px;
}

.burger.close {
  height: 30px;
  width: 30px;
}

.burger.close .line1 {
  transform: rotate(-45deg);
  transform-origin: top right;
}
.burger.close .line2 {
  opacity: 0;
}
.burger.close .line3 {
  transform: rotate(45deg);
  transform-origin: bottom right;
}

.menu {
  background-color: white;
  box-shadow: 0 4px 15px rgba(0,0,0,0.07);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 400;
}

.menu-container {
  margin: 0 auto;
  max-width: 1124px;
  width: calc(100% - 40px);
  display: flex;
  height: 60px;
  align-items: center;
}

/**
 * LOGO
 */
.logo {
  margin-right: 30px;
}

/**
 * LINKS
 */
.logo-links,
.links-networks {
  display: flex;
  align-items: center;
}

.links-networks {
  flex: 1;
}

.logo-links ul {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  list-style-type: none;
}

.logo-links a {
  font-size: 14px;
  color: black;
  text-decoration: none;
  padding: 10px;
}

.logo-links li:first-child a {
  padding-left: 0;
}

.logo-links li:last-child a {
  padding-right: 0;
}

.logo-links a:hover {
  text-decoration: underline;
}

.active {
  text-decoration: underline !important;
}

/**
 * NETWORKS
 */
.networks {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  list-style-type: none;
  margin-left: auto;
}

.networks a {
  padding: 5px;
}

.networks li:first-child a {
  padding-left: 0;
}

.networks li:last-child a {
  padding-right: 0;
}

/**
 * LANDING BANNER
 */
.main-title {
  font-size: 33px;
  margin-right: 40px;
  margin-top: 20px;
  line-height: 44px;
}

.last-video {
  margin: 0 auto;
  max-width: 1124px;
  width: calc(100% - 40px);
  display: flex;
  padding-top: 100px;
  padding-bottom: 100px;
  align-items: center;
}

.last-video .desc {
  max-width: 500px;
}

.video-thumbnail {
  max-width: 630px;
  width: 100%;
  position: relative;
}

.last-video .responsive {
  position: relative;
  width: 100%;
  padding-top: 56.25%;
}

.last-video .responsive img {
  position: absolute;
  top: 0;
  height: 100%;
  object-fit: cover;
}

.last-video .video-thumbnail a {
  text-decoration: none;
  background-color: black;
  color: white;
  padding: 10px 20px;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
  display: inline-block;
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
}

.last-video .video-thumbnail a:hover{
  background-color: #222;
}

/**
 * ABOUT US FIRST SECTION
 */
.about-us {
  margin: 0 auto;
  max-width: 1124px;
  width: calc(100% - 40px);
  display: flex;
  padding-top: 100px;
  padding-bottom: 100px;
}

.about-us .desc {
  margin-top: 130px;
}

.about-us .desc .big-titles {
  margin-bottom: 40px;
}

.about-us .desc p {
  max-width: 540px;
  font-weight: 400;
  color: #333;
  font-size: 14px;
  line-height: 26px;
  margin-bottom: 15px;
}

.images {
  display: flex;
  align-items: top;
  margin-left: auto;
}

.images > div {
  width: 223px;
  margin-left: 20px;
}

.image1 {
  margin-top: 80px;
  margin-bottom: 20px;
}

.image2 {
  margin-bottom: 20px;
}

/**
 * THE TEAM
 */
.the-team {
  margin: 0 auto;
  max-width: 1124px;
  width: calc(100% - 40px);
  padding-top: 100px;
  padding-bottom: 100px;
  border-top: 10px solid rgba(0,0,0,.04);
}

.athletes {
  margin-top: 30px;
  display: flex;
  gap: 40px;
}

.athlete img {
  width: 100%;
}

.athlete h3 {
  font-size: 14px;
  font-weight: 600;
  color: black;
  margin-top: 10px;
}

.athlete a {
  font-size: 14px;
  font-weight: 500;
  color: #333;
  margin-top: 10px;
  text-decoration: none;
}

.athlete a:hover {
  text-decoration: underline;
}

/**
 * CONTACTS
 */
.contacts {
  margin: 0 auto;
  max-width: 1124px;
  width: calc(100% - 40px);
  padding-top: 100px;
  padding-bottom: 100px;
  text-align: center;
}

.sentence1,
.sentence2 {
  margin-top: 20px;
  font-size: 14px;
  font-weight: 400;
  color: #333;
  line-height: 26px;
}

.sentence1 {
  margin-top: 60px;
}

.sentence1 a,
.sentence2 a {
  font-weight: 600;
  text-decoration: none;
  color: #333;
}

.sentence1 a:hover ,
.sentence2 a:hover  {
  text-decoration: underline;
}

.form {
  max-width: 564px;
  margin: 60px auto 0 auto;
}

.form input,
.form textarea {
  border: 1px solid #D3D2D2;
  padding: 10px;
  width: 100%;
  margin-bottom: 10px;
}

.form input.invalid,
.form textarea.invalid {
  border: 1px solid #dd0000;
}

.form textarea {
  max-width: 100%;
  min-width: 100%;
  max-height: 130px;
  min-height: 130px;
}

.error,
.success {
  color: white;
  font-size: 14px;
  margin-bottom: 10px;
  font-weight: 600px;
  padding: 10px;
}

.error {
  background-color: #dd0000;
}

.success {
  background-color: #007700;
}

/**
 * FOOTER
 */
.footer {
  background-color: rgba(0,0,0,.04);
  padding: 60px 0;
}

.footer .container {
  margin: 0 auto;
  max-width: 1124px;
  width: calc(100% - 40px);
}

.footer .videos {
  display: flex;
  gap: 40px;
  margin-top: 30px;
}

.footer .video-thumbnail {
  flex: 1;
}

.footer .video-thumbnail a {
  cursor: pointer;
  opacity: 1;
  position: relative;
  text-decoration: none;
}

.footer .video-thumbnail a:hover{
  opacity: 0.8;
}

.footer .responsive {
  position: relative;
  width: 100%;
  padding-top: 56.25%;
}

.footer .responsive img {
  position: absolute;
  top: 0;
  height: 100%;
  object-fit: cover;
}

.footer .video-thumbnail h4 {
  color: black;
  font-size: 14px;
  margin-top: 20px;
}

.footer .video-thumbnail p {
  color: #333333;
  font-size: 14px;
  margin-top: 5px;
}

.real-footer {
  padding: 20px 0;
  background-color: black;
  color: white;
}

.real-footer .container {
  margin: 0 auto;
  max-width: 1124px;
  width: calc(100% - 40px);
  display: flex;
  height: 60px;
  align-items: center;
}

.real-footer .copies ul {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  list-style-type: none;
}

.real-footer .copies a {
  font-size: 14px;
  color: white;
  text-decoration: none;
  padding: 10px;
}

.real-footer .copies li:first-child a {
  padding-left: 0;
}

.real-footer .copies li:last-child a {
  padding-right: 0;
}

.real-footer .copies a:hover {
  text-decoration: underline;
}

.real-footer .copies p {
  font-size: 12px;
  color: rgba(255,255,255,0.5);
  margin-top: 4px;
}

/**
 * Responsive
 */
@media (max-width: 920px) {
  .last-video .desc {
    max-width: 400px;
  }
  .images > div {
    width: 150px;
    margin-left: 10px;
  }
  .images img {
    width: 100%;
  }
}

@media (max-width: 850px) {
  .footer .videos {
    gap: 10px;
  }  
}

@media (max-width: 800px) {
  .images {
    display: none;
  }
  .about-us .desc {
    margin-top: 0;
  }
  .about-us .desc p {
    max-width: 100%;
  }
  .athletes {
    gap: 10px;
  }
}


@media (max-width: 750px) {
  .last-video .desc {
    max-width: 300px;
  }
  .main-title {
    font-size: 24px;
    line-height: 30px;
  }
  .links-networks {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: white;
    flex-direction: column;
    opacity: 0;
    pointer-events: none;
    transition: opacity 200ms ease-in-out;
  }
  .links-networks.open {
    opacity: 1;
    pointer-events: all;
  }
  .links-networks .logo-links ul {
    display: block;
    margin-top: 60px;
  }
  .links-networks .logo-links a {
    display: block;
    padding: 15px !important;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
  }
  .links-networks .networks {
    margin-left: 0;
    margin-top: 60px;
  }
  .links-networks .networks a {
    padding: 10px !important;
  }
  .burger {
    opacity: 1;
    pointer-events: all;
    cursor: pointer;
  }
  .videos .video-thumbnail:last-child {
    display: none;
  }
}

@media (max-width: 665px) {
  .athletes {
    flex-wrap: wrap;
  }
  .athlete {
    width: calc(50% - 5px);
    margin-bottom: 20px;
  }
}

@media (max-width: 632px) {
  .last-video {
    flex-direction: column;
  }
  .last-video .desc {
    max-width: 400px;
    text-align: center;
  }
  .main-title {
    margin-right: 0;
  }
  .last-video .video-thumbnail {
    margin-top: 40px;
  }
}

@media (max-width: 600px) {
  .footer .videos {
    display: block;
  }

  .footer .videos .video-thumbnail {
    margin-bottom: 40px;
  }
}

@media (max-width: 475px) {
  .real-footer .container {
    display: block;
    text-align: center;
  }
  .real-footer .copies ul {
    display: none;
  }
  .networks {
    display: block;
    margin-top: 10px;
  }
  .networks li {
    display: inline-block;
  }
}