---
import Layout from '../layouts/Layout.astro'
import AboutUs from '../components/AboutUs'
import Athletes from '../components/Athletes'
import Footer from '../components/Footer'
---

<Layout title="Trace Project" page={Astro.url.pathname}>
  <div class="wrapper">
    <AboutUs />
    <Athletes />
    <Footer />
  </div>
</Layout>
