---
import Layout from '../layouts/Layout.astro'
import Contacts from '../components/Contacts'
import Footer from '../components/Footer'
---

<Layout title="Trace Project" page={Astro.url.pathname}>
  <div class="wrapper">
    <Contacts client:load />
    <Footer />
  </div>
</Layout>
