---
import Layout from '../layouts/Layout.astro'
import LastVideo from '../components/LastVideo'
import Footer from '../components/Footer'
---

<Layout title="Trace Project" page={Astro.url.pathname}>
  <div class="wrapper">
    <LastVideo />
    <Footer />
  </div>
</Layout>
