---
import '../styles/main.css'
import Menu from '../components/Menu'
const { title, page } = Astro.props
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <title>{title}</title>
  </head>

  <body>
    <Menu page={page} client:load />
    <slot />
  </body>
</html>
